.odd-tile {
    background-color: burlywood;
    width: 64px;
    height: 64px;
}

.even-tile {
    background-color: white;
    width: 64px;
    height: 64px;
}

.empty-tile {
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-height: 50%;
    max-width: 50%;
}